<!-- For multiselect-->
<div
  @mouseenter='hoverItem = item.value'
  @mouseleave='hoverItem = null' 
  @contextmenu.prevent='selectItem(item, $event)'
  class="border-2 rounded-lg border-transparent"
  :class="{ 'border-yellow-300': multiSelectedItems.includes(item) }"
  alt='item.value.meta.fileName'>
<!-- Collection -->
  <div
    x-data='collection'
    x-effect='setData(item)'
    class='items-center flex w-[416px] flex-[1_0_auto] flex-col bg-neutral-200 px-1.5 py-2 rounded-lg'
  >
    <!-- Collection Inner Wrapper -->
  {{>common_grid}}
  <!-- Collection Actions -->
  <div class='justify-end items-center flex w-full max-w-full flex-row gap-1.5 mt-1.5'>
    <button
        class='justify-between items-center self-stretch flex flex-row gap-1.5 bg-amber-500 px-3 py-1.5 rounded-lg cursor-pointer hover:drop-shadow-lg'
        @click="await clickToAction(item);"
      >
        <svg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path
            d='M14.1147 7.55356L14.1148 3.52977C14.1148 2.13263 12.9404 1.00002 11.4918 1.00001L3.62302 1C2.1744 0.999997 1.00006 2.13261 1.00006 3.52975L1 10.9107C0.999996 12.3078 2.17433 13.4405 3.62295 13.4405H8.00214M11.2295 13.4405H14.1148M14.1148 13.4405H17M14.1148 13.4405V10.6577M14.1148 13.4405V16.7291'
            stroke='#F5F5F5'
            stroke-width='1.6'
            stroke-linecap='round'
          />
        </svg>
        <div class='text-neutral-50 text-sm leading-5 self-center my-auto'>
          Add Block
        </div>
      </button>
  </div>
</div>
</div>