<div class='items-center flex w-full flex-col bg-neutral-50 -mt-0.5 p-1.5 rounded-md'>
  <!-- Header -->
  <div class='justify-center items-start self-stretch flex flex-row gap-1.5 max-md:max-w-full max-md:flex-wrap '>
    <img :src='getIconPath(item)' :alt='name'
      class='aspect-square object-cover object-center w-16 shrink-0 rounded-md'
      onerror="this.onerror=null;this.src='/omni.png';" />
    <div class='items-start flex-[1_0_auto] flex flex-col max-md:max-w-full'>
      <div class="max-w-full flex-[1_0_0] flex flex-row gap-1 w-[300px] items-center">
        <div x-text='title ?? name'
          class='text-neutral-800 text-ellipsis text-base leading-6 font-semibold'>
        </div>
        <svg x-tooltip='Template' x-show='item.value.meta?.template === true' class="w-4 h-4 fill-amber-500 shrink-0" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
            <path d="M26.4091 10.1521C25.8199 9.56285 25.499 8.78102 25.499 7.95251C25.499 4.94772 23.0543 2.50888 20.0553 2.50888C19.2268 2.50888 18.445 2.18215 17.8557 1.59869C15.7319 -0.525085 12.2779 -0.525085 10.1541 1.59869C9.5648 2.18798 8.78297 2.50888 7.95447 2.50888C4.94968 2.50888 2.51083 4.95356 2.51083 7.95251C2.51083 8.78102 2.1841 9.56285 1.60064 10.1521C-0.523131 12.2759 -0.523131 15.73 1.60064 17.8537C2.18993 18.443 2.51083 19.2249 2.51083 20.0534C2.51083 23.0582 4.95551 25.497 7.95447 25.497C8.78297 25.497 9.5648 25.8237 10.1541 26.4072C11.216 27.4691 12.6104 28 14.0049 28C15.3994 28 16.7938 27.4691 17.8557 26.4072C18.445 25.8179 19.2268 25.497 20.0553 25.497C23.0601 25.497 25.499 23.0523 25.499 20.0534C25.499 19.2249 25.8257 18.443 26.4091 17.8537C28.5329 15.73 28.5329 12.2759 26.4091 10.1521ZM21.9516 11.71L13.8065 19.855C13.579 20.0825 13.2814 20.1992 12.9838 20.1992C12.6863 20.1992 12.3887 20.0884 12.1612 19.855L7.66858 15.3624C7.24849 14.9423 7.1318 14.2538 7.49354 13.7754C7.93113 13.1919 8.75964 13.1511 9.25557 13.647L12.9605 17.352C12.9605 17.352 12.9955 17.3636 13.0072 17.352L20.3646 9.99461C20.8605 9.49867 21.689 9.53951 22.1266 10.123C22.4825 10.6014 22.3716 11.284 21.9516 11.71Z"/>
          </svg>
      </div>
      <div x-show='author !== undefined' class='text-neutral-500 text-xs leading-3 w-[174px]'
        x-text='`Made by: ${author}`'>
      </div>
    </div>
    <svg xmlns='http://www.w3.org/2000/svg' width='17' height='15' viewBox='0 0 17 15'
      class='aspect-[1.15] object-cover object-center w-[15px] shrink-0 cursor-pointer' fill='none'
      @click='toggleFavorite(item, item.type)'>
      <path :class="{
                  'fill-red-600 stroke-white': starred,
                  'fill-white stroke-black': !starred
                }"
        d='M2.1095 7.70617L8.5 14.3333L14.8905 7.70617C15.6009 6.96942 16 5.97024 16 4.92838C16 2.75879 14.304 1 12.2119 1C11.2073 1 10.2437 1.41388 9.53333 2.15059L8.5 3.22222L7.46667 2.15059C6.75624 1.41388 5.79273 1 4.78807 1C2.69597 1 1 2.75879 1 4.92838C1 5.97024 1.3991 6.96942 2.1095 7.70617Z'
        stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round' />
    </svg>
  </div>
  <!-- Description -->
  <div x-text='description'
    class='self-stretch text-neutral-800 overflow-hidden text-ellipsis text-xs leading-4 max-w-full mt-1 md:min-h-[68px] md:max-h-[70px]'>
  </div>
  <!-- Footer -->
  <div class='items-end w-full self-end flex flex-col py-0.5 max-md:max-w-full'>
    <div class='justify-end items-start flex max-w-full flex-row gap-1 h-5'>
      <template x-for='(tag, idx) in tags' :key='idx'>
        <div x-show="!tag.includes(':')"
          class='flex overflow-hidden text-neutral-500 text-ellipsis text-xs leading-3 self-stretch justify-center items-center bg-gray-200 px-1.5 py-1 rounded-2xl cursor-pointer'
          x-text='tag.charAt(0) === "#" ? tag.charAt(1).toUpperCase() + tag.slice(2) : tag.charAt(0).toUpperCase() + tag.slice(1)'
          @click='search = tag; $refs.search.focus();'></div>
      </template>
      <div x-show='category && category.length > 0'
        class='flex overflow-hidden text-neutral-500 text-ellipsis text-xs leading-3 self-stretch justify-center items-center bg-gray-200 px-1.5 py-1 rounded-2xl cursor-pointer'
        x-text='category' @click='search = category; $refs.search.focus();'></div>
    </div>
    <div class='items-end flex w-[245px] max-w-full flex-row justify-end gap-1 mr-1 mt-0.5'
      x-show="updatedDate !== null">
      <svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'
        class='cursor-pointer items-end justify-end' x-tooltip:reactive='id'>
        <path
          d='M7 3.67333V3.66667M7 10.3333V5.66667M13 7C13 10.3137 10.3137 13 7 13C3.68629 13 1 10.3137 1 7C1 3.68629 3.68629 1 7 1C10.3137 1 13 3.68629 13 7Z'
          stroke='#737373' stroke-linecap='round' stroke-linejoin='round' />
      </svg>
      <div x-text='`Last update: ${updatedDate}`'
        class='overflow-hidden text-neutral-500 text-ellipsis text-xs leading-3'>
      </div>
    </div>
  </div>
</div>