<!-- For multiselect-->
<div @mouseenter='hoverItem = item.value' @mouseleave='hoverItem = null' @contextmenu.prevent='selectItem(item, $event)'
  class="border-2 rounded-lg border-transparent"
  :class="{ ' border-yellow-300': multiSelectedItems.includes(item), ' border-white': focusedItem === item.value }"
  alt="item.value.meta.fileName">
  <!-- Collection -->
  <div x-data='collection' x-effect='setData(item.type, item.value)'
    class='items-center flex w-[416px] flex-[1_0_auto] flex-col bg-neutral-200 px-1.5 py-2 rounded-lg'>
    <!-- Collection Inner Wrapper -->
    {{>common_grid}}
    <!-- Collection Actions -->
    <div class='justify-end items-center flex w-full max-w-full flex-row gap-1.5 mt-1.5'>
      <button x-show="installed" @click="update(item, 'extension')"
        class='justify-between items-center self-stretch flex flex-row gap-1.5 bg-zinc-500 px-3 py-1.5 rounded-lg cursor-pointer hover:drop-shadow-lg'>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M4.82708 9.21877C5.15066 9.83066 5.7003 10.3369 6.3932 10.6614C7.08609 10.9857 7.88472 11.1106 8.66872 11.0172C9.45272 10.9238 10.1797 10.6171 10.74 10.1434L11.8112 9.32932M11.8112 11.0473V9.21877H9.90644M11.1763 6.78067C10.8527 6.16877 10.3031 5.66249 9.61013 5.33811C8.91726 5.01375 8.11863 4.88886 7.33463 4.98227C6.55063 5.07568 5.82369 5.38233 5.26338 5.856L4.19215 6.67012M4.19215 4.9521V6.78067H6.09691M14.8588 7.99972C14.8588 11.7868 11.7888 14.8569 8.00167 14.8569C4.21458 14.8569 1.14453 11.7868 1.14453 7.99972C1.14453 4.21263 4.21458 1.14258 8.00167 1.14258C11.7888 1.14258 14.8588 4.21263 14.8588 7.99972Z"
            stroke="#F5F5F5" stroke-width="0.914286" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div class='text-neutral-50 text-sm leading-5 self-center my-auto'>
          Update
        </div>
      </button>
      <button x-show="!installed || canOpen"
        class='justify-between items-center self-stretch flex flex-row gap-1.5 px-3 py-1.5 rounded-lg'
        @click="await clickToAction(item);" :class="{ 'bg-amber-500 hover:drop-shadow-lg cursor-pointer': !installed, 'bg-green-500 hover:drop-shadow-lg cursor-pointer': installed && canOpen }">
        <template x-if="installed && canOpen">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
            <path
              d="M16.3606 9.91965V14.5196C16.3606 15.5359 15.5369 16.3596 14.5206 16.3596H3.48062C2.46442 16.3596 1.64062 15.5359 1.64062 14.5196V9.91965M12.6806 5.31965L9.00062 1.63965M9.00062 1.63965L5.32062 5.31965M9.00062 1.63965V12.6796"
              stroke="#F5F5F5" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </template>
        <template x-if="!installed">
          <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
            <path d="M8.00156 1.28027V15.3603M1.60156 8.00027H14.4016" stroke="#FAFAFA" stroke-width="1.6"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </template>
        
        <div class='text-neutral-50 text-sm leading-5 self-center my-auto'
          x-text="installed && canOpen ? 'Open' : !installed ? 'Install' : 'Installed'">
        </div>
      </button>
    </div>
  </div>
</div>