<table class="w-full border-collapse divide-y-2 divide-gray-200 bg-white text-sm table-auto">
   <thead>
      <tr>
         <th class="px-4 py-2">
            Favorite
         </th>
         <th class="px-4 py-2 font-medium text-gray-900">
            Name
         </th>
         <template x-if="type === 'block'">
         <th class="px-4 py-2 font-medium text-gray-900">Category</th>
         </template>
         <th class="px-4 py-2 font-medium text-gray-900">Description</th>
         <th class="px-4 py-2 font-medium text-gray-900"></th>
      </tr>
   </thead>
   <tbody class="divide-y divide-gray-200" x-effect="$watch('search', value => applyFilter())">
   <template x-for="(item, idx) in items" :key="idx">
      {{>general_list}}
   </template>
   </tbody>
</table>