
<div class="flex flex-wrap justify-left items-start gap-2 w-full" x-effect="$watch('search', value => filteredItems())">
   <template x-for="(item, idx) in items" :key="idx">
      <div class="drop-shadow-md rounded-md">
         <template x-if="item.type === 'recipe' && item.value">
            {{>recipe_grid}}
         </template>
         <template x-if="item.type === 'extension' && item.value">
            {{>extension_grid}}
         </template>
         <template x-if="item.type === 'block' && item.value">
            {{>block_grid}}
         </template>
         <template x-if="item.type === 'api' && item.value">
            {{>api_grid}}
         </template>
      </div>
   </template>
</div>
